h1 {
    color: goldenrod;
    text-align: center;
    font-size: 55px;
    position:sticky;
    top: 0px;
    z-index: 1000;
    margin:0px;
    background-color: white;
    border-bottom: 5px goldenrod groove;
    border-top: 5px goldenrod groove;
    /* border: 5px goldenrod groove; */
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: black;
    color: whitesmoke;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.recipe {
    width: 100%;
    height: 200px;
    text-align: center;
    position: relative;
    animation: mySlide2;
    animation-duration: 3s;
    animation-timing-function: ease;
}

.recipe img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: red;
    /* for testing */
    filter: blur(3px);
    display: inline;
}

.recipe p {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-120%);
    font-size: 75px;
    width: 100%;
    text-shadow: 5px 5px 5px black;
}

a:link{
    color:inherit;
}

.name_recipe:hover{
    color: goldenrod;
}

a:visited{
    color:white;
}

.image_recipe {
    display: block;
    margin:auto;
    margin-right:50px;
    float: left;
}

.home_link{

    display: block;
    text-align:center;
}

.home_link:hover{
    color:goldenrod;
    text-decoration: none;
}

.hero_title{ 
    animation:mySlide;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
}

@keyframes mySlide{
    from{transform:translateY(-150px)};
}

@keyframes mySlide2 {
    from{margin-top:-130%;
    opacity: 0;
    }
    to {margin-top: 0%}
}

.ingredients{
    clear:left;
    
}

.ingredients, .instructions{
    margin-left:30px;
    transform: translateY(50px);
}

.fa-house {
    position:absolute;
    left: 93%;
    top: 50%;
    transform:translateY(-50%);
    font-size: 40px;
}