* {
    box-sizing: border-box;
    /* border: 2px solid red; */
}

.recipe {
    width: 150px;
    height: 150px;
    background-color: tan;
    text-align: center;
    padding: 60px 0px;
    margin: 10px;
    display: inline-block;
    position: relative;
}

p, li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a:link {
    color: rgb(255, 249, 172);
    display: inherit;
}

img{
    margin-left:50%;
    transform: translateX(-50%);
}
a:hover {
    color: rgb(247, 72, 49);
    text-decoration: none;
    font-size: 110%;
}
body{
    background-color:black;
    color: rgb(255, 249, 172);
}
h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Tacoma', sans-serif;
    font-size: 50px;
    color: rgb(255, 249, 172);
    margin-top: 20px;
}
.recipe li{
    font-family: 'Trebuchet MS', 'Tacoma', sans-serif;
    list-style-type: none;
    font-size: 15px;
    font-weight: bold;
    display: block;
    margin-top:90px;

}

#mac_and_cheese {
    background-image: url(https://img.freepik.com/free-photo/macaroni-with-cheese-chicken-mushrooms-baked-oven_2829-11120.jpg);
    background-size: cover;
    background-position: center;
}

#cheesecake {
    background-image: url(https://img.freepik.com/free-photo/berry-cheese-cake-table_140725-9316.jpg);
    background-size: cover;
    background-position: center;
}

#burger {
    background-image: url(https://img.freepik.com/free-photo/juicy-cheeseburger-rustic-wooden-board_9975-24623.jpg);
    background-size: cover;
    background-position: center;
}

#pizza {
    background-image: url(https://img.freepik.com/free-photo/imeretian-khachapuri-cheese-lemon-side-view_140725-11276.jpg);
    background-size: cover;
    background-position: center;
}

#milkshake {
    background-image: url(https://img.freepik.com/free-photo/chocolate-smoothie_1339-2856.jpg);
    background-size: cover;
    background-position: center;
}